/*
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;
font-family: 'Croissant One', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Croissant+One&display=swap');

* {box-sizing: border-box;}

h1{
    text-decoration: none;
    text-align: center;
    text-shadow: 3px 3px 3px #ababab;
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size:30px;
    padding-top: 3%;
    margin: 0;
}

h2{
    text-decoration: none;
    text-align: center;
    color: #eddc98;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size:30px;
    line-height: 150%;
    margin: 0;
}

h3{
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: 'Nunito', serif;
    font-weight: 600;
    font-size:20px;
    line-height: 150%;
}

h3 a{
    color: white;
    font-style: italic;
}

h3 a:hover{
    color: black;
}

h4{
    text-decoration: none;
    color: black;
    font-family: 'Nunito', serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px; /*2vw;*/
}

h4 a{
    color: black;
    font-style: italic;
}

h5{
    text-decoration: none;
    text-align: left;
    color: black;
    font-family: 'Nunito', serif;
    font-weight: 500;
    font-size: 16px; /*1.8vw;*/
    line-height: 150%;
}

h5 a{
    color: black;
    font-style: italic;
}


body {
    background-color: rgb(231, 189, 98);
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
	overflow: hidden;
	padding: 20px 10px;
	background-color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

header ul li {
    float: right;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

footer ul li {
    display: inline;
    float: right;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
}

ul li a {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
}

ul li a:hover {
    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    background-image: url('media/bg-gold.png');
}

nav{
  overflow: hidden;
  padding: 20px 10px;
  background-color: black;
  float: left;
    /*display:flex;
    background-color: black;
    margin-top:-10%;
    padding-left: 21%;
    float: right;
    display:flex;

	
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;/*1.5vw;
    line-height: 20px;*/
}

nav img {
	width: 120px;/*150vw*/
	float: left;
}

/*nav a{
  float: left;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 25px; 
  line-height: 25px;
  border-radius: 4px;
}


nav a2{
    text-decoration: none;
    padding: 2.6%;
    text-align: center;
    font-size:2.6vw;
    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    background-image: url('media/bg-gold.png');
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

nav a:hover{
    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    background-image: url('media/bg-gold.png');
}*/

@media screen and (max-width: 1000px) {
  ul li, nav, nav img {float: none;}
  nav img {
  display: block;
  margin: 0 auto;}
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0px solid #ddd;
}

table.center {
   margin: 20 auto;
}

th {
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'Nunito', serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px; 
    line-height: 200%;
}

td {
    text-decoration: none;
    color: black;
    font-family: 'Nunito', serif;
    font-weight: 500;
    font-size: 16px; /*1.8vw;*/
    line-height: 150%;
    width: 50%;
    vertical-align: top;
}

td a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-family: 'Nunito', serif;
    font-weight: 500;
    font-size: 16px; /*1.8vw;*/
    line-height: 150%;
    width: 50%;
    vertical-align: top;
}

td.right {
    text-align: right;
}

td.center {
    text-align: center;
}

footer a {
    text-align: center;
    text-decoration: none;
    color: white;
    font-style: italic;
    font-family: 'Nunito', serif;
    font-weight: 500;
    font-size: 16px; /*1.8vw;*/
    line-height: 150%;
    width: 50%;
    vertical-align: top;
}

tr:nth-child(even){background-color: transparent}


.fa{
	padding: 1vw;
	font-size: 3.4vw;
	width: 3.4vw;
	text-align: center;
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
	background-image: url('media/gold-bg.png');
	text-decoration: none;
	border-radius: 50%;
	float: right;
}

.fa:hover {
	color: #0f4b3b;
}

footer{
    width:100%;
    display:inline;/*flex*/
    /*flex-flow: row;*/
    background-color: black;
    justify-content: center;
    align-items: center;
}

div.menu a:hover{
    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    background-image: url('media/bg-gold.png');
}

footer img{
    width:10%;
}

div.social-media-footer{
    width:100%;
    display:flex;
}

div.menu{
    width:40%;
    display:flex;
    flex-flow:column;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;/*1.5vw;*/
    line-height: 150%;
    padding:2%;
}

div.copyright{
    display: flex;
    flex-flow: column;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size:1.5vw;
    line-height: 150%;
}

div.menu a{
    color: white;
    text-decoration: none;
}

div.menu img{
    width:80%;
}

div.subtitle{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
	background-color: 0f4b3b;/*#0f4b3b;*/
}

div.left{
    width:90%;
    margin-left:10%;
}

div.center{
    width:100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

div.center iframe{
    padding:1.5%;
}
/*
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
font-family: 'Crimson Text', serif;
font-family: 'Croissant One', cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Croissant+One&display=swap');

.header-contact{
	float: left;
}

/*nav a2{
    text-decoration: none;
    padding: 2.6%;
    text-align: center;
    font-size:2.6vw;
    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    background-image: url('media/bg-gold.png');
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

nav a:hover{
    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    background-image: url('media/bg-gold.png');
}*/

.fa{
	padding: 1vw;
	font-size: 3.4vw;
	width: 3.4vw;
	text-align: center;
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
	background-image: url('media/gold-bg.png');
	text-decoration: none;
	border-radius: 50%;
	float: right;
}

.fa:hover {
	color: #0f4b3b;
}

footer{
    width:100%;
    display:flex;
    flex-flow: row;
    background-color: black;
    justify-content: center;
    align-items: center;
}

div.menu a:hover{
    background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    background-image: url('media/bg-gold.png');
}

footer img{
    width:10%;
}

div.social-media-footer{
    width:100%;
    display:flex;
}

div.menu{
    width:40%;
    display:flex;
    flex-flow:column;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;/*1.5vw;*/
    line-height: 150%;
    padding:2%;
}

div.copyright{
    display: flex;
    flex-flow: column;
    text-decoration: none;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size:1.5vw;
    line-height: 150%;
}

div.menu a{
    color: white;
    text-decoration: none;
}

div.menu img{
    width:80%;
}

div.subtitle{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
	background-color: 0f4b3b;/*#0f4b3b;*/
}

div.left{
    width:90%;
    margin-left:10%;
}

div.center{
    width:100%;
    display: flex;
    justify-content: center;
}

div.center iframe{
    padding:1.5%;
}
